<!-- employee_list.html -->
{% extends 'employe.html' %} {% block content %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Employee List</title>
  </head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />

  <body>
    <div class="container">
      <h2>Employee List</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Age</th>
            <th>TC</th>
            <th>Title</th>
            <th>Created At</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
          <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.age }}</td>
            <td>{{ employee.tc }}</td>
            <td>{{ employee.title }}</td>
            <td>{{ employee.created_at }}</td>
            <td>
              <a href="{% url 'edit_employee' employee.id %}">edit</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="6">No employees found.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-R6s5J4FQwu8jCTInXYabQyrDsO6/wKY96oZGJ0ejQuL/3sBLg5gK/s5kuI5olApU"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shFvLZmZu3Kompz5G+2Qh2"
    crossorigin="anonymous"
  ></script>
</html>

{%endblock%}
