<!-- templates/mark_attendance_paid.html -->
{% extends 'employe.html' %} {% block content %} {% load static %}

<h2 style="text-align: center; margin-top: 20px; color: #333">
  Mark Attendance Records as Paid for {{ employee.name }}
</h2>
<a
  href="{% url 'mark_all_attendance_paid' employee.id %}"
  style="
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
  "
  >Mark All as Paid</a
>

<form
  method="post"
  style="
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  "
>
  {% csrf_token %} {{ form.as_p }}
  <button
    type="submit"
    style="
      display: block;
      width: 100%;
      padding: 10px;
      border: none;
      background-color: #007bff;
      color: white;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
    "
  >
    Mark Paid
  </button>
</form>

<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0; /* Set a background color for the body */
  }

  @media (max-width: 600px) {
    form {
      padding: 10px;
      border: none;
    }

    form button {
      font-size: 14px;
    }

    a {
      font-size: 14px;
    }
  }
</style>

<div class="unpaid-records">
  <h4 class="text-center">قائمة مستحقات الدفع</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for record in unpaid_records %}
      <tr>
        <td>{{ record.date }}</td>
        <td>
          <form action="{% url 'mark_as_paid' record.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">تسديد</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="unpaid-records">
  <h4 class="text-center">قائمة اخر المدفوعات</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for record in peyed_record %}
      <tr>
        <td>{{ record.date }}</td>
        <td>
          <form action="{% url 'mark_as_not_pyed' record.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">تراجع</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
